<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Lost&Found</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Font -->
    <title>Registration Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/common-css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/common-css/ionicons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/layout-1/css/styles.css}" />
    <link rel="stylesheet" type="text/html" th:href="@{/layout-1/css/responsive.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body >
<header>
    <div class="container-fluid position-relative no-side-padding">
        <a th:href="@{/}" class="logo"><img th:src="@{/images/gmail.png}"  alt="Logo Image"></a>

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
        <ul class="main-menu visible-on-click" id="main-menu">
            <li> <a  th:href="@{/found}">Found</a></li>
            <li> <a  th:href="@{/lost}">Lost</a></li>
            <li> <a  th:href="@{/newApplication}">Post ad</a></li>
            <li> <a  th:if="${#request.userPrincipal!=null}" th:href="@{/userPage(username=${#request.userPrincipal.name})}">Profile</a></li>
        </ul>
        <div class="src-area">
            <form th:action="@{/searchW}" >
                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                <input class="src-input" type="text" placeholder="Type of search" name="word">

            </form>
        </div>
        <div class="menu-login">
            <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            <a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
        </div>
        </div><!-- conatiner -->
</header>
<div class="slider"  style="background-image: url('images/lost.jpg')"></div><!-- slider -->
    <section class="blog-area section">
    <div class="container">
        <div class="row" >
            <div class="col-lg-4 col-md-6" th:each="ap : ${app}">
                <div class="card h-100">
                    <div class="single-post post-style-1">

                        <div class="blog-image"> <img th:if="${ap.getPhoto1()}!=null" th:src="@{${'/image/'+ap.photo1}}"/></div>
                        <a class="avatar" href="#"><img  th:src="@{${ap.image}}"/></a>

                        <div class="blog-info">
                            <h4 class="title"><a th:href="@{/appInfo(id=${ap.apId})}" th:text="${'Title: '+ap.title}"></a></h4>

                            <ul class="post-footer">
                                <li><a th:href="@{/appInfo(id=${ap.apId})}" th:text="${' '+ap.likes}" class="ion-heart"></a></li>
                                <li><a th:href="@{/appInfo(id=${ap.apId})}" class="ion-chatbubble" th:text="${' '+ap.comNumber}"></a></li>
                                <li><a th:href="@{/appInfo(id=${ap.apId})}" class="ion-eye" th:utext="${' '+ap.view}"></a></li>
                            </ul>

                        </div><!-- blog-info -->
                    </div><!-- single-post -->
                </div><!-- card -->
            </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->



    </div><!-- container -->
</section><!-- section -->


<footer>

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">

                    <a class="logo" th:href="@{/}"><img src="images/gmail.png" alt="Logo Image"></a>
                    <p class="copyright"> Ala-Too International University @ 2018.</p>
                    <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Tansuluu&Zhamiila</a></p>


                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>CATAGORIES</b></h4>
                    <ul>
                        <li><a th:href="@{/category(category=electronics)}">Electronics</a></li>
                        <li><a th:href="@{/category(category=documents)}">Documents</a></li>
                        <li><a th:href="@{/category(category=keys)}">Keys</a></li>

                    </ul>
                    <ul>
                        <li><a th:href="@{/category(category=clothes)}">Clothes</a></li>
                        <li><a th:href="@{/category(category=others)}">Others</a></li>
                    </ul>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>Join us</b></h4>
                    <ul class="icons">
                        <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                    </ul>

                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->
    </div><!-- container -->
</footer>
<script src="common-js/jquery-3.1.1.min.js"></script>

<script src="common-js/tether.min.js"></script>

<script src="common-js/bootstrap.js"></script>

<script src="common-js/scripts.js"></script>

</body>
</html>
