<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/common-css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/common-css/ionicons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/layout-1/css/styles.css}" />
    <link rel="stylesheet" type="text/html" th:href="@{/layout-1/css/responsive.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

</head>
<header>
    <div class="container-fluid position-relative no-side-padding">
        <a th:href="@{/}" class="logo"><img th:src="@{/images/gmail.png}"  alt="Logo Image"></a>

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
        <ul class="main-menu visible-on-click" id="main-menu">
            <li> <a  th:href="@{/found}">Found</a></li>
            <li> <a  th:href="@{/lost}">Lost</a></li>
            <li> <a  th:href="@{/newApplication}">Post ad</a></li>
            <li> <a  th:if="${#request.userPrincipal!=null}" th:href="@{/userPage(username=${#request.userPrincipal.name})}">Profile</a></li>
        </ul>
        <div class="src-area">
            <form th:action="@{/searchW}" >
                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                <input class="src-input" type="text" placeholder="Type of search" name="word">

            </form>
        </div>
        <div class="menu-login">
            <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            <a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
        </div>
    </div><!-- conatiner -->
</header>

<body id="page-top">

<!-- Portfolio Grid -->
<div >
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" th:if="${!list.isEmpty()}">
                <h2 class="section-heading text-uppercase">Posts</h2>
                <h3 class="section-subheading text-muted" th:if="${word!=null}" th:text="${'Result for search '+word+' , found '+list.size()+' posts'}"></h3>
            </div>
            <div class="col-lg-12 text-center" th:if="${list.isEmpty()}">
                <h2 class="section-heading text-uppercase">Posts</h2>
                <h3 class="section-subheading text-muted" th:if="${word!=null}" th:text="${'Result for search '+word+' , none post found'}"></h3>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4 col-sm-6 portfolio-item" th:each="p : ${list}" th:if="${list!=null}">
                <a class="portfolio-link" data-toggle="modal" th:href="@{'#'+${p.apId}}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid2" th:src="@{${'/image/'+p.photo1}}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 th:text="${p.title}"></h4>
                    <p class="text-muted" th:text="${p.date}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio ModalModals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" th:each="p : ${list}" th:if="${list!=null}" th:id="${p.apId}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase" th:text="${p.title}"></h2>
                            <img class="img-fluid3 d-block mx-auto" th:src="@{${'/image/'+p.photo1}}" alt="">
                            <p th:text="${p.text}"></p>
                            <ul class="list-inline">
                                <li th:text="${'Date:  ' +p.date}"></li>
                                <li>Author: <a th:href="@{/userPage(username=${p.usarname})}" style="color: #0275d8; font-size: 20px" th:text="${p.usarname}"></a></li>
                                <li>Category: <a th:href="@{/category(category=${p.category})}" style="color: #0275d8;font-size: 20px"  th:text="${p.category}"></a></li>
                            </ul>
                            <a th:href="@{/appInfo(id=${p.apId})}" ><button class="btn btn-primary"  type="button">
                                <i class="fa fa-times"></i>
                                Learn More</button></a>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<section class="bg-light" id="team" th:if="${users!=null}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" th:if="${!users.isEmpty()}">
                <h2 class="section-heading text-uppercase" >Users</h2>
                <h3 class="section-subheading text-muted"  th:text="${'Result for search '+word+' , found '+users.size()+' users'}" ></h3>
            </div>
            <div class="col-lg-12 text-center" th:if="${users.isEmpty()}">
                <h2 class="section-heading text-uppercase" >Users</h2>
                <h3 class="section-subheading text-muted" th:text="${'Result for search '+word+' , none user found'}" ></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" th:each="user : ${users}">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" th:src="@{${user.urlImage}}" alt="">
                    <h4 th:text="${user.firstName+' ' + user.lastName}"></h4>
                    <p class="text-muted"><a th:href="@{/userPage(username=${user.userName})}" th:text="${user.userName}"></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">

                    <a class="logo" th:href="@{/}"><img src="images/gmail.png" alt="Logo Image"></a>
                    <p class="copyright"> Ala-Too International University @ 2018.</p>
                    <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Tansuluu&Zhamiila</a></p>


                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>CATAGORIES</b></h4>
                    <ul>
                        <li><a th:href="@{/category(category=electronics)}">Electronics</a></li>
                        <li><a th:href="@{/category(category=documents)}">Documents</a></li>
                        <li><a th:href="@{/category(category=keys)}">Keys</a></li>

                    </ul>
                    <ul>
                        <li><a th:href="@{/category(category=clothes)}">Clothes</a></li>
                        <li><a th:href="@{/category(category=others)}">Others</a></li>
                    </ul>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>Join us</b></h4>
                    <ul class="icons">
                        <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                    </ul>

                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->
    </div><!-- container -->
</footer>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>

</body>

</html>
