<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Font -->
	<title>Registration Form</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/common-css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/common-css/ionicons.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/single-post-2/css/styles.css}" />
	<link rel="stylesheet" type="text/html" th:href="@{/single-post-2/css/responsive.css}" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">



</head>
<body >
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=2100336446922341&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header>
	<div class="container-fluid position-relative no-side-padding">
		<a th:href="@{/}" class="logo"><img th:src="@{/images/gmail.png}"  alt="Logo Image"></a>

		<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
		<ul class="main-menu visible-on-click" id="main-menu">
			<li> <a  th:href="@{/found}">Found</a></li>
			<li> <a  th:href="@{/lost}">Lost</a></li>
			<li> <a  th:href="@{/newApplication}">Post ad</a></li>
			<li> <a  th:if="${#request.userPrincipal!=null}" th:href="@{/userPage(username=${#request.userPrincipal.name})}">Profile</a></li>
		</ul>
		<div class="src-area">
			<form th:action="@{/searchW}" >
				<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
				<input class="src-input" type="text" placeholder="Type of search" name="word">

			</form>
		</div>
		<div class="menu-login">
			<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
		</div>
	</div><!-- conatiner -->
</header>

	<div class="slider">

	</div><!-- slider -->

	<section class="post-area">
		<div class="container" th:object="${app}">

			<div class="row">
				<div class="col-lg-1 col-md-0"></div>
				<div class="col-lg-10 col-md-12">

					<div class="main-post">

						<div class="post-top-area">

							<h5 class="pre-title"></h5>

							<h3 class="title" ><a href="#"><b th:text="${app.title}"></b></a></h3>

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="#"><img  th:src="@{${app.image}}" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" th:href="@{/userPage(username=${app.usarname})}" th:text="${app.usarname}"><b></b></a>
									<h6 class="date" th:text="${'on '+ app.date}">on Sep 29, 2017 at 9:48 am</h6>
								</div>

							</div><!-- post-info -->

							<p class="para" th:text="${app.text}"></p>

						</div><!-- post-top-area -->
						<div class="post-image"><img th:if="${app.getPhoto1()}!=null" th:src="@{${'/image/'+app.photo1}}"alt="Blog Image"></div>
						<div class="post-image"><img th:if="${app.getPhoto2()}!=null" th:src="@{${'/image/'+app.photo2}}"alt="Blog Image"></div>
						<div class="post-image"><img th:if="${app.getPhoto3()}!=null" th:src="@{${'/image/'+app.photo3}}"alt="Blog Image"></div>
						<div class="post-bottom-area">
							<div sec:authorize="hasRole('ROLE_USER')" th:if="${#request.userPrincipal!=null}">
								<a  th:if="${app.usarname==#request.userPrincipal.name}"  class="load-more-btn" th:href="@{/deleteApp(id=${app.apId})}"><b>DELETE THE APPLICACTION</b></a>
							</div>
							<div class="right-area" sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="load-more-btn" th:href="@{/deleteApp(id=${app.apId})}"><b>DELETE THE APPLICACTION</b></a>
							</div>

								<div class="post-icons-area">
									<ul class="post-icons" >
										<li  th:if="${#request.userPrincipal!=null}"><a  th:if="${trueFalse=='yes'}"  style="color: red" href="" th:text="${' '+app.likes}" class="ion-heart" th:href="@{/deleteLike(id=${app.apId},username=${#request.userPrincipal.name})}"></a></li>
										<li th:if="${#request.userPrincipal!=null}" ><a   th:if="${trueFalse=='no'}"  th:href="@{/addLike(id=${app.apId},username=${#request.userPrincipal.name})}" th:text="${' '+app.likes}" class="ion-heart"></a></li>
										<li><a th:if="${#request.userPrincipal==null}"  th:text="${' '+app.likes}" class="ion-heart" style="color: red"></a></li>
										<li><a href="#" class="ion-chatbubble"  th:text="${' '+app.comNumber}"></a></li>
										<li><a href="#" class="ion-eye" th:text="${' '+app.view}" ></a></li>
									</ul>

								<ul class="icons">
									<li>SHARE : </li>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								</ul>
							</div>

						</div><!-- post-bottom-area -->

					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->


	<section class="recomended-area section">
		<div class="container" >
			<div class="row">

				<div class="col-lg-4 col-md-6" th:each="app1:${popular}">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img th:if="${app.getPhoto1()}!=null" th:src="@{${'/image/'+app1.photo1}}" alt="Blog Image"></div>

							<a class="avatar" href="#"><img  th:src="@{${app1.image}}"  alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title"><a th:href="@{/appInfo(id=${app1.apId})}"><b th:text="${app1.title}"></b></a></h4>

								<ul class="post-footer">
									<li><a th:href="@{/appInfo(id=${app1.apId})}"  th:text="${' '+app1.likes}" class="ion-heart"></a></li>
									<li><a th:href="@{/appInfo(id=${app1.apId})}" th:text="${' '+app1.comNumber}" class="ion-chatbubble"></a></li>
									<li><a th:href="@{/appInfo(id=${app1.apId})}" th:text="${' '+app1.view}" class="ion-eye"></a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-md-6 col-sm-12 -->
			</div><!-- row -->

		</div><!-- container -->
	</section>

	<section class="comment-section center-text">
		<div class="container">
			<h4><b th:if="${#request.userPrincipal != null}">POST COMMENT</b></h4>
			<h4><b th:if="${#request.userPrincipal == null}">To add comment, <a th:href="@{/login}">sign in</a></b></h4>
			<div class="row">

				<div class="col-lg-2 col-md-0"></div>

				<div class="col-lg-8 col-md-12"   >
					<div class="comment-form" th:if="${#request.userPrincipal != null}">
						<form th:action="@{/newComment(appId=${app.apId})}" method="post" th:object="${comment}">
							<div class="row">
								<a class="name" href="#"><b th:text="${'Add comment as '+#request.userPrincipal.name}"></b></a>
								<div class="col-sm-12">
									<label th:if="${#fields.hasErrors('comentText')}" th:errors="*{comentText}" class="validation-message">
									</label>
									<textarea th:field="*{comentText}" id="comments" rows="2" class="text-area-messge form-control"
										placeholder="Enter your comment"></textarea >

								</div><!-- col-sm-12 -->
								<div class="col-sm-12">
									<button class="submit-btn" type="submit" id="form-submit"><b>POST COMMENT</b></button>
								</div><!-- col-sm-12 -->

							</div><!-- row -->
						</form>
					</div><!-- comment-form -->

					<h4><b th:text="${'COMENTS('+app.comNumber+')'}"></b></h4>

					<div class="commnets-area text-left" >

						<div class="comment" th:each="commen: ${comments}">

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="#"><img  th:src="@{${commen.image}}" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" th:href="@{/userPage(username=${commen.username})}"><b th:text="${commen.username}"></b></a>
									<h6 class="date" th:text="${'on '+commen.dateCom}"></h6>
								</div>
								<div class="right-area" sec:authorize="hasRole('ROLE_ADMIN')">
									<a th:href="@{/deleteComment(id=${commen.id},apId=${app.apId})}"><img  src="images/trash.png" style="width: 30px" alt="Profile Image"></a>

								</div>

							</div><!-- post-info -->

							<p th:text="${commen.comentText}"></p>

						</div>
					</div>

				</div><!-- col-lg-8 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>

<footer>

	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="footer-section">

					<a class="logo" th:href="@{/}"><img src="images/gmail.png" alt="Logo Image"></a>
					<p class="copyright"> Ala-Too International University @ 2018. All rights reserved.</p>
					<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Tansuluu&Zhamiila</a></p>


				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

			<div class="col-lg-4 col-md-6">
				<div class="footer-section">
					<h4 class="title"><b>CATAGORIES</b></h4>
					<ul>
						<li><a th:href="@{/category(category=electronics)}">Electronics</a></li>
						<li><a th:href="@{/category(category=documents)}">Documents</a></li>
						<li><a th:href="@{/category(category=keys)}">Keys</a></li>

					</ul>
					<ul>
						<li><a th:href="@{/category(category=clothes)}">Clothes</a></li>
						<li><a th:href="@{/category(category=others)}">Others</a></li>
					</ul>
				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

			<div class="col-lg-4 col-md-6">
				<div class="footer-section">
					<h4 class="title"><b>Join us</b></h4>
					<ul class="icons">
						<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
					</ul>

				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

		</div><!-- row -->
	</div><!-- container -->
</footer>
	<!-- SCIPTS -->

	<script src="common-js/jquery-3.1.1.min.js"></script>

	<script src="common-js/tether.min.js"></script>

	<script src="common-js/bootstrap.js"></script>

	<script src="common-js/scripts.js"></script>

</body>
</html>
